.wrapper {
  background-color: #212134;
  margin: auto;
  height: fit-content;
  @apply p-5 w-3/4 rounded;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.price {
  @apply flex flex-col;
}

.row .col {
  flex: 1;
  min-width: 200px;
}

.col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

 
.imageLabel {
  background-color: #181826;
  @apply flex justify-center items-center overflow-hidden h-44 rounded-md cursor-pointer relative border ;
}

.imageLabel div {
  @apply absolute flex  flex-col justify-center items-center text-center  w-full h-full;
}
.imageLabel div span {
  @apply w-3/4;
}
.imageLabel img {
  @apply object-cover w-fit h-fit;
}
.imageLabel input {
  @apply hidden;
}

.inputText:-webkit-autofill,
.inputText:-webkit-autofill:hover,
.inputText:-webkit-autofill:focus,
.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:focus,
.select:-webkit-autofill,
.select:-webkit-autofill:hover,
.select:-webkit-autofill:focus {
  border: 1px solid #494969;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.642);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.textArea {
  padding: 10px 15px;
  border: 1px solid #494969;
  color: rgba(255, 255, 255, 0.642);
  @apply bg-transparent rounded resize-none h-24 focus:outline-none;
}

.select {
  background-color: transparent;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.642);
  border: 1px solid #494969;
  @apply rounded focus:outline-none;
}

.select * {
  background-color: transparent;
  color: black;
}

.choose {
  display: flex;
  background-color: #181826;
  border: 1px solid #494969;
  padding: 5px;
  @apply rounded;
}

.choose button {
  color: white;
  padding: 5px;
  flex: 1;
  @apply capitalize rounded;
}

.choose .active {
  background-color: #212134;
  border: 1px solid #494969;
  color: #5c5bba;
}

.submit {
  background-color: rgba(0, 191, 255, 0.637);
  padding: 10px 15px;
  min-width: 100px;
  @apply rounded text-white capitalize hover:scale-105;
}
