@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide{
    scrollbar-width: none;
  }


  ::-webkit-scrollbar {
    width: 0px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(114, 113, 113);
    border-radius: 10px;
    height: 200px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }  