.product-swiper :global(.swiper-button-next),
.product-swiper :global(.swiper-button-prev) {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-swiper :global(.swiper-button-next)::after,
.product-swiper :global(.swiper-button-prev)::after {
  font-size: 18px;
}

.product-swiper :global(.swiper-button-next) {
  right: 10px;
}

.product-swiper :global(.swiper-button-prev) {
  left: 10px;
}

.product-swiper :global(.swiper-button-disabled) {
  opacity: 0;
}
